<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright © 2004-2012, Tivi LTD,www.tiviphone.com. All rights reserved.
Copyright © 2012-2013, Silent Circle, LLC. All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Any redistribution, use, or modification is done solely for personal 
      benefit and not for any commercial purpose or for monetary gain
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name Silent Circle nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL SILENT CIRCLE, LLC BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.silentcircle.silentphone"
	android:versionCode="23"
	android:versionName="1.6.5" >

	<uses-sdk
		android:minSdkVersion="10"
		android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_CALL_LOG" />
	<uses-permission android:name="android.permission.READ_CALL_LOG" />
	<uses-permission android:name="android.permission.BLUETOOTH" />

	<!-- <uses-permission android:name="android.permission.DEVICE_POWER" /> requires system app rights -->

	<!-- <uses-feature android:name="android.hardware.sip.voip" android:required="true" /> -->
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.telephony"
		android:required="false" />
	<!-- android:hardwareAccelerated="true" -->
	<application
		android:icon="@drawable/spa_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<service android:name="com.silentcircle.silentphone.TiviPhoneService" />

        <!--  Use this RPC service if we don't use the status content provider below
        <service android:name="com.silentcircle.silentphone.receivers.SilentPhoneStatusService">
            <intent-filter>
                <action android:name="com.silentcircle.silentphone.status"></action>
            </intent-filter>
        </service>
        -->

		<receiver
			android:name="com.silentcircle.silentphone.receivers.OCT"
			android:enabled="true" >
			<intent-filter android:priority="100" > <!-- Higher number - higher prio: shall have better prio than system phone -->
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

        <provider
                android:name="com.silentcircle.silentphone.providers.StatusProvider"
                android:authorities="com.silentcircle.silentphone"
                android:initOrder="1"
                android:enabled="true"
                android:exported="true"/>

        <activity
			android:name="com.silentcircle.silentphone.activities.TAdvCfg"
			android:label="@string/app_name"
			android:screenOrientation="portrait" />

		<activity
			android:name="com.silentcircle.silentphone.activities.TMActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
            <intent-filter>
                <action android:name="com.silentcircle.silentphone.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="silenttel" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.silentcircle.silentphone.action.EDIT_BFORE_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="silenttel" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            -->
        </activity>

		<activity
			android:name="com.silentcircle.silentphone.activities.TCallWindow"
			android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity
			android:name="com.silentcircle.silentphone.activities.CallManager"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:screenOrientation="portrait" >
			<intent-filter android:label="@string/app_name" >
				<action android:name="com.silentcircle.silentphone.CALLMGR_START" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter android:label="@string/app_name" >
				<action android:name="com.silentcircle.silentphone.CALLMGR_STOP" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.silentcircle.silentphone.activities.Provisioning"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan" />
		<activity
			android:name="com.silentcircle.silentphone.activities.ZrtpMessages"
			android:label="@string/app_name"
			android:screenOrientation="portrait" />
		<activity
			android:name="com.silentcircle.silentphone.activities.KeyGeneration"
			android:label="@string/app_name" >
		</activity>
	</application>

</manifest>
