<?xml version="1.0" encoding="utf-8"?>
<!--
// +++LICENSE_BEGIN+++
/*
 * Copyright © 2014, Silent Circle
 * All rights reserved.
 */
// +++LICENSE_END+++
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.silentcircle.silentphone2" >

    <!--
    gradle build script may overwrite the package name - this does not affect
    the manifest package name
    -->
    <!-- Permission group: Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Permission group: Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission group: Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Permission Group: Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Permission group: Phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Silent Phone uses an own Call log implementation, does not use Android's call log
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <!-- To enable the AuthenticatorService -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- Enable the client to use AccountManager functions -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <!-- use this permission until we solved all Android M doze problems -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- SilentCircle permissions to use the key manager features -->
    <permission
        android:name="com.silentcircle.keymngr.permission.READ_SC_KEY"
        android:label="@string/permission_read_km"
        android:protectionLevel="signature" />
    <permission
        android:name="com.silentcircle.keymngr.permission.WRITE_SC_KEY"
        android:label="@string/permission_write_km"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.silentcircle.keymngr.permission.READ_SC_KEY" />
    <uses-permission android:name="com.silentcircle.keymngr.permission.WRITE_SC_KEY" />

    <!-- SilentCircle permissions to use SilentContacts -->
    <permission
        android:name="com.silentcircle.silentcontacts.permission.READ"
        android:label="@string/permission_read"
        android:protectionLevel="signature" />
    <permission
        android:name="com.silentcircle.silentcontacts.permission.WRITE"
        android:label="@string/permission_write"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.silentcircle.silentcontacts.permission.READ" />
    <uses-permission android:name="com.silentcircle.silentcontacts.permission.WRITE" />

    <!-- Push Notification -->
    <permission android:name="com.silentcircle.silentphone.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.silentcircle.silentphone.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
            android:smallScreens="false"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"/>

    <!--
    ${backup} defined as placeholder in build.gradle
    -->
    <application
        android:allowBackup="${backup}"
        android:hardwareAccelerated="true"
        android:name="com.silentcircle.SilentPhoneApplication"
        android:icon="@drawable/ic_launcher_sp"
        android:label="@string/app_name"
        android:theme="@style/SilentPhoneTheme">
<!--  android:name="android.support.multidex.MultiDexApplication"> -->

        <service android:name=".services.TiviPhoneService" />

        <!-- Service to update a contact -->
        <service
                android:name=".services.ContactUpdateService"
                android:exported="false" />

        <!-- android:launchMode="singleTask"  android:screenOrientation="portrait"> -->
        <activity android:name=".activities.DialerActivity"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:priority="999" >
                <action android:name="com.silentcircle.silentphone.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="silenttel" />
                <data android:scheme="silentsip" />
                <data android:scheme="sip" />
            </intent-filter>
            <intent-filter android:priority="999" >
                <action android:name="com.silentcircle.silentphone.action.EDIT_BEFORE_CALL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="silenttel" />
                <data android:scheme="silentsip" />
                <data android:scheme="sip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="imto" android:host="sip.silentcircle.com"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.silentcircle.messaging.action.VIEW_CONVERSATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/com.silentcircle.phone"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher_st">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/com.silentcircle.message"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.InCallActivity"
                  android:exported="false"
                  android:excludeFromRecents="true"/>
        <!-- android:screenOrientation="portrait" -->

        <activity
            android:name=".activities.ProvisioningActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
                android:name=".activities.CallInfoActivity"
                  android:exported="false"/>

        <activity
                android:name=".activities.DialHelperSelectorActivity"
                android:exported="false" />

        <activity
                android:name=".activities.TraceListActivity"
                android:exported="false"/>

        <activity
                android:name=".activities.DialogHelperActivity"
                android:exported="false"/>

        <activity
                android:name=".activities.DidSelectionActivity"
                android:exported="false"
                android:screenOrientation="portrait" />

        <!-- the 'packageName' placeholder comes from build.gradle -->
        <!--
        The status content provider does not reveal security relevant information
        The authority for this provider must be: [package-name]
        -->
        <provider
            android:name=".providers.StatusProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="true"
            android:initOrder="1"
            tools:ignore="ExportedContentProvider" />

        <!-- The authority for this provider is: [package-name].keymanagersupport and it must use the specific permission -->
        <provider
            android:name="com.silentcircle.keymanagersupport.SupportProvider"
            android:authorities="${applicationId}.keymanagersupport"
            android:enabled="true"
            android:exported="false"
            android:initOrder="3"
            android:permission="com.silentcircle.keymngr.permission.WRITE_SC_KEY" />

        <receiver
            android:name=".receivers.AutoStart"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="500" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!--
        *************** Activity and provider of Key store *************************
        -->
        <activity
                android:name="com.silentcircle.keystore.KeyStoreActivity"
                android:windowSoftInputMode="adjustUnspecified"
                android:theme="@style/SilentPhoneTheme">
            <intent-filter>
                <action android:name="com.silentcircle.keystore.action.READY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
                android:name="com.silentcircle.keystore.ProviderDbBackend"
                android:authorities="${AUTHORITY_BASE}.keystore"
                android:permission="com.silentcircle.keymngr.permission.WRITE_SC_KEY"
                android:initOrder="2"
                android:enabled="true"
                android:exported="false"/>

        <!--
        ******************** The call log part ****************************************
        -->

        <activity
                android:name="com.silentcircle.contacts.calllognew.CallLogActivity"
                android:label="@string/callHistoryTitle"
                android:permission="com.silentcircle.silentcontacts.permission.WRITE"
                android:theme="@style/SilentPhoneTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.android.cursor.dir/com.silentcircle.calls"/>
            </intent-filter>
        </activity>


        <provider
                android:name="com.silentcircle.contacts.providers.ScCallLogProvider"
                android:authorities="${AUTHORITY_BASE}.calls2"
                android:permission="com.silentcircle.silentcontacts.permission.WRITE"
                android:initOrder="3"
                android:enabled="true"
                android:exported="true"/>

        <activity
                android:name="com.silentcircle.contacts.ScCallDetailActivity"
                android:label="@string/callDetailTitle"
                android:screenOrientation="portrait"
                android:parentActivityName="com.silentcircle.contacts.calllognew.CallLogActivity"
                android:theme="@style/SilentPhoneTheme">

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.silentcircle.contacts.calllognew.CallLogActivity" />
        </activity>

        <service android:name="com.silentcircle.contacts.UpdateScContactDataService"/>

        <receiver android:name="com.silentcircle.contacts.utils.LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>


        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${AUTHORITY_BASE}.files"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.silentcircle.messaging.providers.PictureProvider"
            android:authorities="${AUTHORITY_BASE}.messaging.provider.picture"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.silentcircle.messaging.providers.VideoProvider"
            android:authorities="${AUTHORITY_BASE}.messaging.provider.video"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.silentcircle.messaging.providers.AudioProvider"
            android:authorities="${AUTHORITY_BASE}.messaging.provider.audio"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.silentcircle.messaging.providers.TextProvider"
            android:authorities="${AUTHORITY_BASE}.messaging.provider.text"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.silentcircle.messaging.providers.VCardProvider"
            android:authorities="${AUTHORITY_BASE}.messaging.provider.vcard"
            android:enabled="true"
            android:exported="false" />

        <!-- Account Authenticator related activities and services -->
        <activity android:name="com.silentcircle.accounts.AuthenticatorActivity"
                  android:excludeFromRecents="true"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"
                  android:label="@string/account_manager_label"
                  android:theme="@style/SilentPhoneThemeAuthenticator"/>

        <service android:name="com.silentcircle.accounts.ScAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>

        </service>

        <service
                android:name="com.silentcircle.accounts.SyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts" />
        </service>

        <service android:name="com.silentcircle.messaging.services.SCloudService" />

        <service android:name="com.silentcircle.messaging.services.SCloudCleanupService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.silentcircle.messaging.action.PURGE_ATTACHMENTS"/>
            </intent-filter>
        </service>

        <receiver android:name="com.silentcircle.accounts.AccountChangeReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.silentcircle.messaging.activities.SoundRecorderActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SoundRecorderDialog"
            android:exported="false">
            <intent-filter>
                <action android:name="com.silentcircle.messaging.action.AUDIO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/mp4"/>
            </intent-filter>
        </activity>

        <activity android:name="com.silentcircle.messaging.activities.VideoCaptureActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.silentcircle.messaging.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/mp4"/>
            </intent-filter>
        </activity>


        <!-- Main conversation activity -->
        <activity android:name="com.silentcircle.messaging.activities.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/SilentPhoneTheme"
            android:icon="@drawable/ic_launcher_st"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="imto" android:host="silentcircle"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="message/*"/>
                <data android:mimeType="multipart/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>

        </activity>

        <!-- Activity to view multimedia content from conversation messages -->
        <activity android:name="com.silentcircle.messaging.activities.FileViewerActivity"
            android:theme="@style/SilentPhoneTheme"
            android:configChanges="screenSize|orientation"
            android:uiOptions="splitActionBarWhenNarrow"/>

        <activity android:name="com.silentcircle.messaging.activities.AxoRegisterActivity"
                  android:exported="false"
                  android:theme="@style/SilentPhoneTheme"/>

        <activity android:name="com.silentcircle.messaging.activities.ShowRemoteDevicesActivity"
                  android:exported="false"
                  android:theme="@style/SilentPhoneTheme"/>

        <receiver android:name="com.silentcircle.messaging.receivers.ChatNotification"
                android:exported="false" android:enabled="true">
            <intent-filter>
                <action android:name="com.silentcircle.messaging.action.RECEIVE_MESSAGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ContactAdder"
                  android:exported="false"
                  android:theme="@style/SilentPhoneTheme"/>

        <activity
                  android:name="com.silentcircle.contacts.SCInviteActivity"
                  android:exported="false"
                  android:theme="@style/SilentPhoneTheme" />

        <!-- [START gcm_receiver] -->
        <receiver
                android:name="com.google.android.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />  <!-- Pre-KitKat devices -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.silentcircle.silentphone" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
                android:name="com.silentcircle.googleservices.C2DMReceiver"
                android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->

        <!-- [START instanceId_listener] -->
        <service
                android:name="com.silentcircle.googleservices.InstanceIDListenerService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
                android:name="com.silentcircle.googleservices.RegistrationIntentService"
                android:exported="false">
        </service>

        <!-- in app billing -->
        <activity android:name="com.silentcircle.purchase.activities.PaymentUseStripeActivity"
            android:theme="@style/SilentPhoneTheme"
            android:parentActivityName=".activities.DialerActivity"/>

        <activity android:name="com.silentcircle.purchase.activities.SelectPurchaseCardActivity"
            android:theme="@style/InAppPaymentTheme"
            android:parentActivityName="com.silentcircle.purchase.activities.PaymentUseStripeActivity"/>

    </application>

</manifest>
