*.1 text
*.3des text
*.ac text
*.aes128 text
*.aes192 text
*.aes256 text
*.am text
*.arm-wince-mingw32ce-gcc text
*.attr text
*.awk text
*.bat text
*.c text
*.ca text
*.cbproj binary
*.cc text
*.cert_type text
.clang-format text
*.cmake text
*.content text
*.cpp text
*.Cpp text
*.crt text
*.csh text
*.data text
*.def text
*.default text
*.des text
*.doc text
*.doxyfile text
*.dsp text
*.dsw text
*.entitlements text
*.eps binary
*.explain text
*.first text
*.fmt text
*.function text
*.gcc text
.gitattributes text
.gitignore text
.gitmodules text
*.groupproj binary
*.guess text
*.h text
*.H text
*.h.in text
*.html text
*.i text
*.in text
*.ini text
*.inl text
*.java text
*.json text
*.kdev_include_paths text
*.key text
*.key_usage text
*.ku-ct text
*.linux-gcc text
*.list binary
*.log text
*.m text
*.m4 text
*.md text
*.md4 text
*.md5 text
*.mk text
*.mm text
*.msc text
*.msg text
*.n text
*.orig text
*.patch text
*.pbxproj binary
*.pch text
*.pem text
*.pl text
*.plist text
*.proto text
*.prov text
*.psk text
*.pub text
*.pubkey text
*.pump text
*.py text
*.rc text
*.README text
*.rst text
*.rtf binary
*.sh text
*.sha1 text
*.sha224 text
*.sha256 text
*.sha384 text
*.sha512 text
*.sln binary
*.storyboard binary
*.strings text
*.sub text
*.subtest text
*.sun text
*.svg text
*.syntax text
*.tab text
*.tcl text
*.template text
*.terms text
*.test text
*.texi text
*.tokenizers text
*.trs text
*.txt text
*.uuid text
*.vc text
*.vcproj binary
*.vcxproj binary
*.vcxproj.filters binary
*.vxworks text
*.win32 text
*.xcbkptlist text
*.xccheckout binary
*.xcconfig text
*.xcexplist binary
*.xcscheme binary
*.xcsmblueprint binary
*.xcsettings text
*.xcworkspacedata binary
*.xib binary
*.xml text
*.y text
*.yml text
